{{/* SPDX-FileCopyrightText: The RamenDR authors */}}
{{/* SPDX-License-Identifier: Apache-2.0 */}}
{{define "content" -}}
{{- with .ClustersStatus}}
<div class="main-grid">
<h2>Clusters Status</h2>
{{- with .Hub}}
<section>
    <h3>Hub</h3>
    <section>
        <h4>Ramen</h4>
        {{template "ramen" .Ramen}}
    </section>
    <section>
        <h4>DRPolicies</h4>
        {{template "drpolicies" .DRPolicies}}
    </section>
    <section>
        <h4>DRClusters</h4>
        {{template "drclusters" .DRClusters}}
    </section>
</section>
{{- end}}

{{- range .Clusters}}
<section>
    <h3>Managed Cluster: {{.Name}}</h3>
    <section>
        <h4>Ramen</h4>
        {{template "ramen" .Ramen}}
    </section>
</section>
{{- end}}

{{- with .S3}}
<section>
    <h3>S3 Stores</h3>
    {{template "s3" .Profiles}}
</section>
{{- end}}
</div>
{{- end}}
{{- end}}
