{{/* SPDX-FileCopyrightText: The RamenDR authors */}}
{{/* SPDX-License-Identifier: Apache-2.0 */}}
{{define "drpolicies" -}}
<dl class="validation">
    <dt>Policies</dt>
    <dd>
        <span class="value">{{len .Value}}</span>
        <span class="state">{{icon .State}}</span>
        {{- if .Description}}
            <p class="description">{{.Description}}</p>
        {{- end}}
    </dd>
</dl>
{{- range .Value}}
<section>
    <h5>{{.Name}}</h5>
    <dl class="metadata">
        <dt>Scheduling Interval</dt>
        <dd>{{.SchedulingInterval}}</dd>
        <dt>DRClusters</dt>
        <dd>{{range $i, $c := .DRClusters}}{{if $i}}, {{end}}{{$c}}{{end}}</dd>
    </dl>
    {{- with .PeerClasses}}
    <dl class="validation">
        <dt>Peer Classes</dt>
        <dd>
            <span class="value">{{len .Value}}</span>
            <span class="state">{{icon .State}}</span>
            {{- if .Description}}
                <p class="description">{{.Description}}</p>
            {{- end}}
            <ul>
                {{- range .Value}}
                <li>
                    <dl class="metadata">
                        <dt>Storage Class</dt>
                        <dd>{{.StorageClassName}}</dd>
                        {{- if .ReplicationID}}
                            <dt>Replication ID</dt>
                            <dd>{{.ReplicationID}}</dd>
                        {{- end}}
                    </dl>
                </li>
                {{- end}}
            </ul>
        </dd>
    </dl>
    {{- end}}
    <section>
        <h6>Conditions</h6>
        {{template "conditions" .Conditions}}
    </section>
</section>
{{- end}}
{{- end}}
