{{define "content" -}}
<h2>Application Status</h2>

<section>
    <h3>Hub</h3>
    <section>
        <h4>DRPC</h4>
        {{- with .ApplicationStatus.Hub.DRPC}}
        <dl class="metadata">
            <dt>Name</dt>
            <dd>{{.Name}}</dd>
            <dt>Namespace</dt>
            <dd>{{.Namespace}}</dd>
            <dt>DRPolicy</dt>
            <dd>{{.DRPolicy}}</dd>
        </dl>
        {{- end}}
    </section>
</section>

<section>
    <h3>Primary Cluster: {{.ApplicationStatus.PrimaryCluster.Name}}</h3>
    <p>Primary VRG status will be here.</p>
</section>

<section>
    <h3>Secondary Cluster: {{.ApplicationStatus.SecondaryCluster.Name}}</h3>
    <p>Secondary VRG status will be here.</p>
</section>

<section>
    <h3>S3 Stores</h3>
    {{- with .ApplicationStatus.S3.Profiles}}
    <dl class="validation">
        <dt>Profiles</dt>
        <dd>
            <span class="value">{{len .Value}}</span>
            <span class="state">{{icon .State}}</span>
            {{- if .Description}}
                <p class="description">{{.Description}}</p>
            {{- end}}
        </dd>
    </dl>
    {{- range .Value}}
        <section>
            <h4>{{.Name}}</h4>
            <dl class="validation">
                <dt>Gathered</dt>
                <dd>
                    <span class="value">{{.Gathered.Value}}</span>
                    <span class="state">{{icon .Gathered.State}}</span>
                    {{- if .Gathered.Description}}
                        <p class="description">{{.Gathered.Description}}</p>
                    {{- end}}
                </dd>
            </dl>
        </section>
    {{- end}}
    {{- end}}
</section>
{{- end}}
