{{define "content" -}}
<h2>Application Status</h2>

<section>
    <h3>Hub</h3>
    <p>DRPC status will be here</p>
</section>

<section>
    <h3>Primary Cluster: {{.ApplicationStatus.PrimaryCluster.Name}}</h3>
    <p>Primary VRG status will be here.</p>
</section>

<section>
    <h3>Secondary Cluster: {{.ApplicationStatus.SecondaryCluster.Name}}</h3>
    <p>Secondary VRG status will be here.</p>
</section>

<section>
    <h3>S3 Stores</h3>
    <p>S3 profiles status will be here.</p>
</section>
{{- end}}
