{{/* SPDX-FileCopyrightText: The RamenDR authors */}}
{{/* SPDX-License-Identifier: Apache-2.0 */}}
{{define "drpc" -}}
<dl class="metadata">
    <dt>Name</dt>
    <dd>{{.Name}}</dd>
    <dt>Namespace</dt>
    <dd>{{.Namespace}}</dd>
    <dt>DRPolicy</dt>
    <dd>{{.DRPolicy}}</dd>
</dl>
<dl class="validation">
    <dt>Action</dt>
    <dd>{{template "validated" .Action}}</dd>
    <dt>Phase</dt>
    <dd>{{template "validated" .Phase}}</dd>
    <dt>Progression</dt>
    <dd>{{template "validated" .Progression}}</dd>
    {{- if isProblem .Deleted.State}}
        <dt>Deleted</dt>
        <dd>{{template "validated" .Deleted}}</dd>
    {{- end}}
</dl>
<section>
    <h5>Conditions</h5>
    {{template "conditions" .Conditions}}
</section>
{{- end}}
