{{/* SPDX-FileCopyrightText: The RamenDR authors */}}
{{/* SPDX-License-Identifier: Apache-2.0 */}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.HeaderData.Title}}</title>
    <style>
        {{template "style" .}}
    </style>
</head>
<body>
<header>
    <h1>{{.HeaderData.Title}}</h1>
{{- if .HeaderData.Subtitle}}
    <p class="subtitle">{{.HeaderData.Subtitle}}</p>
{{- end}}
    <p class="result">
        <span class="status {{.Status}}">{{.Status}}</span>
        {{- if .Summary}}
            <span class="summary">{{.SummaryString}}</span>
        {{- end}}
    </p>
    <dl class="timing">
        <dt>Created</dt>
        <dd>{{formatTime .Created}}</dd>
        <dt>Duration</dt>
        <dd>{{formatDuration .Duration}}</dd>
    </dl>
</header>
<main>
    <section>
        {{template "content" .}}
    </section>

    <section>
        <h2>Report Details</h2>
        {{- with .Build}}
        <section>
            <h3>Build</h3>
            <dl class="metadata">
                <dt>Version</dt>
                <dd>{{.Version}}</dd>
                <dt>Commit</dt>
                <dd>{{.Commit}}</dd>
            </dl>
        </section>
        {{- end}}
        <section>
            <h3>Host</h3>
            <dl class="metadata">
                <dt>OS</dt>
                <dd>{{.Host.OS}}</dd>
                <dt>Arch</dt>
                <dd>{{.Host.Arch}}</dd>
                <dt>CPUs</dt>
                <dd>{{.Host.Cpus}}</dd>
            </dl>
        </section>
        {{- with .Namespaces}}
        <section>
            <h3>Namespaces</h3>
            <ul>
                {{- range .}}
                <li>{{.}}</li>
                {{- end}}
            </ul>
        </section>
        {{- end}}
        {{- with .Config}}
        <section>
            <h3>Config</h3>
            <pre>{{formatYAML .}}</pre>
        </section>
        {{- end}}
        {{- with .Steps}}
        <section>
            <h3>Steps</h3>
            <ul class="steps">
                {{- template "steps" .}}
            </ul>
        </section>
        {{- end}}
    </section>
</main>
</body>
</html>
