{{/* SPDX-FileCopyrightText: The RamenDR authors */}}
{{/* SPDX-License-Identifier: Apache-2.0 */}}
{{define "steps" -}}
{{- range .}}
<li class="step {{.Status}}">
    <span class="step-name">{{.Name}}</span>
    <span class="step-duration">{{formatDuration .Duration}}</span>
    {{- with .Items}}
    <ul>
        {{- template "steps" .}}
    </ul>
    {{- end}}
</li>
{{- end}}
{{- end}}
