# SPDX-FileCopyrightText: The RamenDr authors
# SPDX-License-Identifier: Apache-2.0

---
name: Release

on:
  release:
    types: [created]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  release-matrix:
    name: Release binaries
    permissions:
      contents: write
      packages: write
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos:
        - linux
        - windows
        - darwin
        goarch:
        - amd64
        - arm64
        exclude:
        - goarch: arm64
          goos: windows
    steps:
    - uses: actions/checkout@v4
    - uses: wangyoucao577/go-release-action@v1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        goos: ${{ matrix.goos }}
        goarch: ${{ matrix.goarch }}
        goversion: go.mod
        asset_name: ramenctl-${{ matrix.goos }}-${{ matrix.goarch }}
        md5sum: FALSE
        compress_assets: OFF
        build_command: make ramenctl
